
body {
  background: #000000;
  padding: 0;
  margin: 0;
  font-weight: bold;
  overflow: hidden;
}

.overlay-panel {
  font-family: Monospace;
  text-align: left;

  background-color: #0b0b0b;
  z-index: 1000;
  border: 2px solid #5b0000;
}

#info {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px;
  width: 20%;
  height: 50%;
}

#selector {
  position: fixed;
  bottom: 10px;
  left: 10px;
  padding: 5px;
  width: 20%;
  height: 20%;
}

.header-row {
  color: #ffbec0;
  font-size: 16px;
}

.child-row {
  color: #ffffff;
  font-size: 13px;
}

.external-link {
  color: #8597ff;
}
