
body {
  background: #000000;
  padding: 0;
  margin: 0;
  font-weight: bold;
  overflow: hidden;
}

.overlay-panel {
  font-family: Monospace;
  text-align: left;

  background-color: #0b0b0b;
  z-index: 1000;
  border: 2px solid #5b0000;
  color: #ffffff;

}

/*#accordian-block {*/
  /*width: 15%;*/
  /*position: absolute;*/
  /*top: 10px;*/
/*}*/

#selector {
  position: absolute;
  top: 10px;
}


/*#info {*/
  /*position: absolute;*/
  /*top: 10px;*/
  /*left: 10px;*/
  /*padding: 5px;*/
  /*width: 20%;*/
  /*height: 50%;*/
/*}*/

/*#selector {*/
  /*position: fixed;*/
  /*bottom: 10px;*/
  /*left: 10px;*/
  /*padding: 5px;*/
  /*width: 20%;*/
  /*height: 25%;*/
/*}*/

/*.header-row {*/
  /*color: #ffbec0;*/
  /*font-size: 16px;*/
/*}*/

/*.child-row {*/
  /*color: #ffffff;*/
  /*font-size: 13px;*/
/*}*/

/*.external-link {*/
  /*color: #8597ff;*/
/*}*/


#attribution-overlay {
  position: absolute;
  font-family: Monospace;
  bottom: 10px;
  right: 10px;
  width: 100%;
  text-align: right;
  color: #ffffff;
  font-size: 13px;
}

ul.ui-autocomplete.ui-menu {
  z-index: 1000;
}

#distance-header{
  color: #004611;
}

.info-element{
  color: #008422;
}

.ui-accordion-header{
  background-color: #717071;
}