
body {
  background: #000000;
  padding: 0;
  margin: 0;
  font-weight: bold;
  overflow: hidden;
}

#info {
  position: absolute;
  top: 10px;
  padding: 5px;
  width: 20%;
  height: 50%;
  background-color: #0b0b0b;
  z-index: 1000;
  border: 2px solid #5b0000;
}

.header-row {
  color: #ffbec0;
  font-family: Monospace;
  font-size: 16px;
  text-align: left;
}

.data-row {
  color: #ffffff;
  font-family: Monospace;
  font-size: 13px;
  text-align: left;
}


#controls {
  position: absolute;
  top: 10px;
  width: 100%;
  color: #ffffff;
  padding: 5px;
  font-family: Monospace;
  font-size: 13px;
  text-align: left;
  z-index: 1000;
}


a {
  color: #ffffff;
}

#oldie a {
  color: #da0
}
